body {
  margin: 0px;
  height: 110vh;
}
.slide-container {
  width: 300vw;
  display: flex;
  transition: transform 1s;
  position: relative;
}
.slide-box {
  width: 100vw;
}
.slide-box img {
  width: 100%;
}

.slide-1 {
}
.slide-2 {
}
.nav-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
  background-color: transparent;
  position: fixed;
  z-index: 5;
}
.list-group {
  padding-top: 50px;
}
.nav-black {
  background-color: black;
  color: white;
}
